/*#7A392C;*/
/*#48647C*/

*{
  margin: 0;
  padding: 0;
}

html,body{
  height: 100%;

  font-family: 'Quicksand', sans-serif;
}


  font-family: 'Quicksand', sans-serif;
}

.carousel-item{
    height: 80vh;
} 
.carousel-item img{
    height: 80vh;
    object-fit: fill;
}

/* ------------------------------------------------- NAVBAR ------------------------------------ */
.nav-image{
  width: 10vh;
  -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-right: -10%;
}
.nav-title{
  font-family: 'Concert One', cursive;
  font-size: 40px;
}

/* ------------------------------------------- NAVBAR MENU ------------------------------------- */
.homeLI a {
  font-size: 18px;
  margin-right: 1.5rem;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  color: #1C1C1C;
}
.homeLI a:hover:not(.active) {
  color: white;
}

.homeLI1 a {
  font-size: 16px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  color: #1C1C1C;
}
.homeLI1 a:hover:not(.active) {
  color: white;
  background-color: #48647C;
}

a.active {
  color: white;
}

/* ------------------------------------------- ON SCROLL NAVBAR MENU ------------------------------------- */
.navbar-solid {
  background-color: #48647C;
  top:0px;
  z-index:100;
  width: 100%;
}

/* ------------------------------------------- NAVBAR SEARCH BAR------------------------------ */
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none; 
}

input[type=search] {
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;
  margin-right: 30px;
  
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #66CC75;
  
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}

/*------------------------------------- Demo 2 CLASS -- STILL FOR SEARCH BAR ---------------------------------*/
#demo-2 input[type=search] {
  width: 20px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}
#demo-2 input[type=search]:hover {
  background-color: #fff;
}
#demo-2 input[type=search]:focus {
  width: 200px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
#demo-2 input:-moz-placeholder {
  color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
  color: transparent;
}

/* -------------------------------------------- EVENT TALKS CATEGORY ------------------------------------------*/
.home-cover{
  width: 100%;
  color: black;
  background-color: #9BA9B6;
  padding: 5rem;
  text-align: left;
  padding-top: 10rem;
 min-height: 100vh;
 font-family: 'Cardo', serif;
 letter-spacing: 0.5;
}

/* 4 PANEL TIMELINE STYLE */
#timeline {
  display: flex;
  background-color: #031625;
  padding: 0;
  margin: 0;
}
.tl-item:hover{
  width: 23.3333%;
}

.tl-item {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  min-height: 600px;
  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;
}
.tl-item:before, .tl-item:after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.tl-item:after {
  background: rgba(3, 22, 37, 0.85);
  opacity: 1;
  transition: opacity 0.5s ease;
}
.tl-item:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 90%);
  z-index: 1;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) translateY(50%);
          transform: translate3d(0, 0, 0) translateY(50%);
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
}
.tl-item:hover {
  width: 110% !important;
}
.tl-item:hover:after {
  opacity: 0;
}
.tl-item:hover:before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) translateY(0);
          transform: translate3d(0, 0, 0) translateY(0);
  transition: opacity 1s ease, -webkit-transform 1s ease 0.25s;
  transition: opacity 1s ease, transform 1s ease 0.25s;
  transition: opacity 1s ease, transform 1s ease 0.25s, -webkit-transform 1s ease 0.25s;
}
.tl-item:hover .tl-content {
  opacity: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition: all 0.75s ease 0.5s;
}
.tl-item:hover .tl-bg {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.tl-content {
  -webkit-transform: translate3d(0, 0, 0) translateY(25px);
          transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 1.618em;
  top: 55%;
  opacity: 0;
}
.tl-content h1 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #1779cf; 
  font-size: 1.44rem;
  font-weight: normal;
}
.tl-year {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.tl-year p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  line-height: 0;
  margin-top: 1.200rem;
  margin-bottom: 1rem;
  color: white;
}
@media (max-width: 930px)
{
  .tl-year 
  {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
}


.tl-bg {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  transition: -webkit-filter 0.5s ease;
  transition: filter 0.5s ease;
  transition: filter 0.5s ease, -webkit-filter 0.5s ease;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

/* --------------------------------------- NAVBAR DROPDOWN ---------------------------------------*/
.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    /*background: transparent;
    border: none;*/
}

.dropdown:hover .dropdown-menu {
    max-height: 200px;
    opacity: 1;
}

/* ------------------------------------------ REGISTER BUTTON ---------------------------------------*/
.register-button{
  color: white;
  border: 1px solid white;
  padding: 10px 15px 10px 15px;
}
.register-button:hover{
  background-color: #48647C;
}

/* ---------------------------------------------- ABOUT CONTENT----------------------------------------*/
.about-hr{
  background-color: #A4A4A4; 
  height: 2px; 
  border: 0;
}

.about-content{
  position: relative;
  top: 20vh;
}

/* for <p> alignment */
.lead{
  font-size: 24px;
  text-align: justify;
  color: #2E2E2E;
  font-family: 'Quicksand', sans-serif;
}

.about-home{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 60px;
    text-align: left;
}

/* for mission vision partners about us TEXT */
.about-title{
  color: #1C1C1C;
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
}

.about-title2{
  color: white;
  font-size: 35px;
  padding-top: 3rem;
  font-family: 'Raleway', sans-serif;
}

.about-title-image{
  width: 10%;
  margin-top: 2rem;
}

.about-title1{
  color: #1C1C1C;
  font-size: 45px;
  font-family: 'Titan One', cursive;
}

.about-cover-text{
  font-size: 18px;
  text-align: justify;
  color: white;
  line-height: 1.5;
  font-family: 'Quicksand', sans-serif;
}

.btn-round{
  margin-top: 5%;
  border-radius: 50%;
  padding: 20px;
  width: 70px;
  border: 1px solid white;
}

.mic-down:hover{
    transform:rotate(135deg);
    -ms-transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
}

.mic-down{
  width: 100%;
  -webkit-transition: -webkit-transform .4s ease-in-out;
          transition:         transform .4s ease-in-out;
}

.btn-round1{ /*mission vision*/
  margin-top: -10%;
  border-radius: 50%;
  padding: 20px;
  width: 70px;
  border: 1px solid black;
}

.about-define, .about-partners{
  padding: 6rem 6rem;
}

.about-whatWedo{
  padding: 5rem 3rem 7rem 3rem;
}

.about-missionVision{
  padding: 5rem 3rem 5rem 3rem;
}

.about-define-content{
  padding: 3rem 6rem 6rem 6rem;
}

.about-team-content{
  padding: 3rem 6rem 6rem 6rem;
}

.about-mission-content{
  margin-top: 4%;
}

.about-define1{
  font-size: 24px;
  text-align: justify;
  color: #2E2E2E;
  line-height: 2;
  /*letter-spacing: 1px;*/
  font-family: 'Quicksand', sans-serif;
}

.about-define2{
  font-size: 24px;
  text-align: justify;
  color: #1C1C1C;
  line-height: 2;
  /*letter-spacing: 1px;*/
  font-family: 'Quicksand', sans-serif;
}

.about-team-title{
  font-size: 40px;
  padding-top: 6rem;
  text-align: center;
  color: white;
  font-family: 'Muli', sans-serif;
}

.about-missionVision{
  font-size: 18px;
  text-align: justify;
  color: #2E2E2E;
  line-height: 2;
  font-family: 'Quicksand', sans-serif;
}

.about-mission-img{
  width: 45vw;
  margin-top: 5%;
}

.about-cover-content{
 padding-top: 10rem;
 text-align: center;
}

.content-padding{
  padding: 4rem 4rem;
}


/* ----------------------- PARTNERS ---------------------------*/
/*PARTNERS IMAGE*/
.about-img{
  width: 75%;
  display: inline-block;;
  padding: 2rem 2rem;
}

#Partners{
  background-color: white;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ---------------------------------------------- ABOUT PARALLAX --------------------------------------------*/
.about{ /*PARALLAX*/
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://www.plitvice-etnogarden.com/wp-content/uploads/2018/02/Etno-Garden-Plitvice-Lakes-Team-Building-ruke.jpg") center center no-repeat;
  min-height: 80vh;
  color: white;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
}

#AboutDefine{
  background-color: white;
  min-height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ---------------------------------------------- WHAT WE DO -------------------------*/
#WhatWeDo{
  background-color: white;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-img-whatwedo{
  width: 70%;
}

.about-create{
  /*background-color: #ededed;*/
  padding: 3rem;
}

.about-whatwedo-title{
  font-family: 'Questrial', sans-serif;
  font-size: 26px;
  line-height: 1.5;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.about-whatwedo-content{
  font-size: 16px;
  text-align: justify;
  color: #7e7e7e;
  font-family: 'Muli', sans-serif;
}

/* ---------------------------------------------- OUR TEAM -------------------------*/
.about-ourTeam{ /*PARALLAX*/
  opacity: 1;
  background-color: white;
  min-height: 800px;
  padding-top: 6rem;
  padding-bottom: 2rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.team-img{
    width: 100%;
    height: 20vw;
    /*padding: 1rem;*/
    object-fit: cover;
}


/* ----------------------------------- CONTACT US --------------------------------*/
.contact{ /*PARALLAX*/
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://static1.squarespace.com/static/50e73071e4b0d5ee8b74f584/t/5a0df5170d9297da4e01c3b8/1510864152047/contact_us.jpg?format=2500w") center center no-repeat;
  min-height: 80vh;
  color: white;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
}

/*Contact Us TEXT*/
.contact-title{
  padding-top: 10%;
  text-align: left;
  color: white;
  font-size: 60px;
  font-family: 'Raleway';
}

.contact-title1{
  color: #1C1C1C;
  font-size: 30px;
  font-family: 'Raleway';
}

.contact-title2{
  color: white;
  font-size: 25px;
  font-family: 'Raleway';
}

.contact-info{
  font-size: 12px;
  text-align: justify;
  color: white;
  margin-left: 25%;
  margin-top: -15%;
  padding-bottom: 1rem;
}

.contact-info1{
  font-size: 12px;
  text-align: justify;
  color: white;
  margin-left: 25%;
  margin-top: -10%;
  padding-bottom: 1rem;
}


.contact-dark{
  min-width: 100%;
  min-height: 60vh;
}

.contact-form{
  /*padding: 4em 4em 4em 0em;*/
  padding: 4em;
}

.contact-details{
  padding-top: 4rem;
}
.contact-icon{
  width: 15%;
}

.contact-form1{
  padding: 4em;
  background: #1C4975;
  border-radius: 0 2% 2% 0;
}

.contact-form1{
  padding: 4em;
  background: #1C4975;
  border-radius: 0 2% 2% 0;
}

.lead1{
  font-size: 18px;
  text-align: justify;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.contactus{
  padding: 0;
  margin-bottom: 6rem;
}

label{
  color: #1C1C1C;
}

.selectpicker{
  padding: 12.5% 6% 12.5% 6%;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.contact-mailImg{
  width: 10%;
  margin-top: -1.5%;
}

/*.contact-sendbtn{
  margin-top: 3%;
  border-radius: 50%;
  padding: 10px;
  width: 0px;
  background-color: #48647C;
  border: 1px solid white;
}

.contact-sendbtn:hover{
  background-color: white;
  border: 1px solid #48647C;
}*/

.contact-sendbtn{
  margin-top: 5%;
  border-radius: 50%;
  padding: 20px;
  width: 70px;
  background-color: #48647C;
  border: 1px solid white;
}

.contact-sendbtn:hover, .contact-sendbtn:active, .contact-sendbtn:visited{
  background-color: white !important;
  border: white !important;
}

.contact-sent:hover{
    transform: scale(3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.contact-sent{
  width: 100%;
  -webkit-transition: -webkit-transform .4s ease-in-out;
          transition:         transform .4s ease-in-out;
}

.contactus{
  width: 80%;
  margin-left: 10%;
  margin-top: -7%;
  background: white;
  border-radius: 2%;
  min-height: 60vh;
  -moz-box-shadow: 0 0 10px gray;
  -webkit-box-shadow: 0 0 10px gray;
  box-shadow: 0 0 10px gray;
}

.contact-socialM{
  width: 35px;
  display: inline-block;
  margin-right: 10%;
}

.contact-socialM1{
  width: 35px;
  display: inline-block;
}

/* ------------------------------------ EVENTS -----------------------------*/
.event-top-button{
  color: white;
  border-color: white;
  margin-bottom: 2%;
  margin-right: 1%;
}

.event-top-button:active{
  color: white;
  background-color: black;
}
.event-top-button:focus, .event-top-button:visited{
  color: white;
  background-color: #48647C;
}

.event-title{
  padding-top: 10%;
  text-align: left;
  color: white;
  font-size: 60px;
  font-family: 'Raleway';
}

.first-playlist-content{
  text-align: justify;
  line-height: 1.5;
  font-size: 18px;
}

#first-playlist{
  background-color: #ededed;
}

.first-playlist-top{
  padding: 8rem 4rem 5rem 4rem;
}

.event{ /*PARALLAX*/
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://www.newstatesman.com/sites/all/themes/creative-responsive-theme/images/new_statesman_events.jpg") center center no-repeat;
  min-height:80vh;
  min-width: 100%;
  color: white;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
}

.event-home, .event-trending, .event-editors, .event-heard{
  padding: 3rem;
}
.event-trending{
  padding-top: 7rem;
}
.event-editors, .event-heard{
  padding-top: 0;
}

.first-playlist{
  color: #1C1C1C;
}

.event-newest1 a, .event-newest2 a, .event-newest3 a, .event-newest4 a, .event-newest5 a, .event-newest6 a, .event-newest7 a, .event-newest8 a, .event-newest9 a{
  color: white;
  text-decoration: none;
}

.event-newest1 a:hover, .event-newest2 a:hover, .event-newest3 a:hover, .event-newest4 a:hover, .event-newest5 a:hover, .event-newest6 a:hover {
  color: white;
  text-decoration: none;
}

.event-newest1{
  color: white;
  background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), url('https://d1w9csuen3k837.cloudfront.net/Pictures/1280x720/9/8/5/136985_shutterstock_203936089.jpg');
  background-position: center;
  background-size: cover;
}
.event-newest2{
  color: white;
  background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), url('https://www.absoluteeventsbycorrine.com/blog/wp-content/uploads/2015/06/speaker-tips-corporate-events-event-planner-nj-ny-absolute-events-by-corrine.jpg');
  background-position: center;
  background-size: cover;
}
.event-newest3{
  color: white;
  background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), url('https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/8/2017/02/21105943/speakers-for-your-event.jpg');
  background-position: center;
  background-size: cover;
}
.event-newest4{
  color: white;
  background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), url('http://1.bp.blogspot.com/-02_MnZggZDs/UFdrodIYAYI/AAAAAAAAEL0/AetugPYo130/s1600/shutterstock_95880652.jpg');
  background-position: center;
  background-size: cover;
}
.event-newest5{
  color: white;
  background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmKV89tpl1S4G1xjKXGj-w1WN2jxgvhoKZZyFX_xmpXrma7jd8');
  background-position: center;
  background-size: cover;
}
.event-newest6{
  color: white;
  background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), url('https://sg.fiverrcdn.com/photos/107126469/original/dc209f61ad13899bb88e77381ec5a2f579400614.jpg?1516953523');
  background-position: center;
  background-size: cover;
}
.event-newest7{
  color: white;
  background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), url('https://static1.squarespace.com/static/586fdf4bb3db2b72176ebabe/t/58b739cd29687f370cca8a67/1488402902713/');
  background-position: center;
  background-size: cover;
}
.event-newest8{
  color: white;
  background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), url('https://brickworksbuildingproducts.com.au/wp-content/uploads/2018/02/33434296351_4b86b9603b_k.jpg');
  background-position: center;
  background-size: cover;
}
.event-newest9{
  color: white;
  background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), url('https://static1.squarespace.com/static/56f427cde321409ed97a8cf4/t/5991f8b1db29d6da88dc7e65/1502739039672/TedEx.jpg?format=1500w');
  background-position: center;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.event-sub-title{
  color: #1C1C1C;
  font-size: 35px;
}

.card-sub-title{
  padding: 10rem 1rem 1rem 2rem;
}
.event-time-display{
  padding: 1%;
  margin-bottom: 1rem;
  background-color: #1C1C1C;
  width: 15%;
  text-align: center;
}

.event-sub-little{
  background-color: red;
  color: white;
  font-size: 14px;
  width:8%;
  padding-left: 0;
  padding: 5px;
  margin-bottom: -1%;
  z-index: 1;
}
.event-sub-editor{
  background-color: red;
  color: white;
  font-size: 14px;
  width: 10%;
  padding: 5px;
  margin-bottom: -1%;
  z-index: 1;
}
.event-sub-heard{
  background-color: red;
  color: white;
  font-size: 14px;
  width: 12%;
  padding: 5px;
  margin-bottom: -1%;
  z-index: 100;
}

.floating-menu {
    font-family: sans-serif
    padding: 5px;
    width: 4vw;
    margin-bottom: 2%;
    margin-left: 2%;
    z-index: 100;
    position: fixed;
    bottom: 0px;
    left: 0px;
    cursor: pointer;
  }

/* --------------------------------------- CAROUSEL --------------------------*/
.carousel {
  width: 100%;
}

.slide-box {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .slide-box img {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .slide-box img {
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

/*@media (min-width: 992px)
{
  .slide-box img {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 50%;
  }
}*/

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: .5rem;
}

/* --------------------------------------- CAROUSEL TRENDING--------------------------*/
.carousel1 {
  width: 100%;
}

.slide-box1 {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .slide-box1 img {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .slide-box1 img {
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media (min-width: 992px)
{
  .slide-box1 img {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.carousel-caption1 {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: .5rem;
}

/* -------------------------------------TALKS LAYOUT--------------------*/
.talks-details{
  padding: 2rem 1rem 1rem 2rem;
  margin-left: 1rem;
  text-align: justify;
  line-height: 1.5;
}

.talks-details1{
  padding: 0rem 0rem 0rem 0rem;
  text-align: justify;
  line-height: 1.5;
}

.talks-details-small{
  padding: 0rem 1rem 1rem 2rem;
  margin-left: 1rem;
  text-align: justify;
  font-size: 14px;
  color: #696969;
}

.talks-details-RT{
  font-size: 18px;
  padding: 0rem 1rem 0rem 2rem;
  margin-left: 1rem;
  text-align: justify;
  line-height: 1.5;
}

.talks-details-RT2{
  font-size: 18px;
  padding: 2rem 0rem 0rem 0rem;
  text-align: left;
}

.talks-details-RT1{
  font-size: 18px;
  padding: 2rem 0rem 0rem 0rem;
}

.talks-author-name{
  font-size: 18px;
  padding: 0rem;
  text-align: left;
}

.talks-button{
  margin-left: 3rem;
}

.talks-btn{
  border: 1px #48647C solid !important;
  color: #1C1C1C;
}

.talks-btn:hover{
  background-color: #48647C;
  color: white;
  border: 1px white solid !important;
}

.talks-hr{
  margin-left: 2rem;
  background-color: #A4A4A4; 
  height: 2px; 
  border: 0;
}

.talks-author{
  width: 12vw;
  padding-left: 2rem;
}

.talks-sub-title{
  padding: 1rem;
  font-size: 20px;
  margin-left: 1rem;
  color: #808080;
  text-align: justify;
}

.talks-tab{
  font-size: 20px;
  color: #808080;
  text-align: justify;
}

.talks-next-vid{
  width: 15vw;
  padding-bottom: 2rem;
}
.talks-next-vid-small{
  margin-top: -1rem;
  text-align: left;
  font-size: 15px;
  color: #696969;
}

.talks-views{
  padding: 2rem 1rem 1rem 1rem;
  font-size: 20px;
  text-align: left;
}

.talks-loc, .talks-loc:hover, .talks-loc:active{
  color: #1C1C1C;
  text-decoration: none;
}

.talks-other-details{
  padding: 0rem 1rem 1rem 1rem;
  font-size: 14px;
  text-align: left;
}

.talks-sched-title, .talks-sched-title:hover, .talks-sched-title:active{
  color: #1C1C1C;
  text-decoration: none;
  font-size: 16px;
}

ul.timeline11 {
    list-style-type: none;
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
}
ul.timeline11:before {
    content: ' ';
    background: #48647C;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline11 > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline11 > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #48647C;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

/*.playlist-title{
  margin-top: -20%;
}*/
.talks-sub-title1{
  font-size: 16px;
  color: #808080;
  text-align: justify;
}

.talks-tab1{
  color: #808080;
  text-align: justify;
}

/* -------------------------------- VENUE -------------------------------*/
.venue{ /*PARALLAX*/
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://cdn-images-1.medium.com/max/1200/1*CuzeZrIdyXXTgzaTqcTmJw.jpeg") center center no-repeat;
  min-height: 80vh;
  color: white;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
}

.venue-home{
  padding: 3rem;
}

.venue-main-img{
  width: 100%;
    height: 20vw;
    /*padding: 1rem;*/
    object-fit: cover;
    background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1));

}

.venue-sub-title{
  color: #1C1C1C;
  font-size: 35px;
}

.venue-title{
  padding-top: 10%;
  text-align: left;
  color: white;
  font-size: 60px;
  font-family: 'Raleway';
}

.venue-place-title{
  margin-top: -4rem;
  margin-left: -6%;
  color: white;

  width: 113%;
  padding-bottom: 1%;
  padding-left: 2rem;

  padding-top: 1%;

  padding-top: 2%;

  background: rgba(0, 0, 0, 0.8);

  padding-bottom: 1rem;

}

.venue-sub-title{
  color: #1C1C1C;
  font-size: 35px;
}

.venue-title{
  padding-top: 10%;
  text-align: left;
  color: white;
  font-size: 60px;
  font-family: 'Raleway';
}

.venue-place-title{
  margin-top: -4rem;
  color: white;
  padding-bottom: 1rem;
}
/* -------------------------------- SPEAKERS -------------------------------*/
.speakers-home .card
{
/*  margin-right: 10px;
  margin-left: 10px;*/

}
.speakers-home img
{
  height: 210px;  

}

.speakers-home .sub
{
  color: #48647c;
}
.speakers-home .cards:hover
{
  opacity: 0.5;
}

.speakers-home a , h5
{
  text-decoration: none;
  color: #111;
}
  @media (min-width: 576px)
  {
    .card-columns 
    {
      column-count: 3;
    }    
  }


/* -------------------------------- FOOTER -------------------------------*/
#footer-main{
  background: #1C1C1C;
  color: white;
  font-size: 0.8rem;
  padding: 1.5rem 1rem;
  list-style: none;
}
#footer-main a{
  list-style: none;
  color: white;
}
.footer-hr{
  background-color: #A4A4A4; 
  height: 1px; 
  border: 0;
}

/* -------------------------------- FOOTER SOCIAL MEDIA ICONS-------------------------------*/
.footer-socialM{
  width: 35px;
  display: inline-block;
  margin-right: 2%;
}

.footer-socialM:hover{
  background-color: #0B2C5B;
  border-radius: 50%;
}

/* -------------------------------- FOOTER TEXT TITLE-------------------------------*/
.footer-title{
  font-size: 14px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  color: #A4A4A4;
}
/* -------------------------------- FOOTER TEXT OTHER TEXT -------------------------------*/
.footer-titleUP{
  font-size: 12px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  color: #A4A4A4;
}

.footer-titleMENU{
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  color: white;
}

/* ---------------------------------- FOOTER BUTTON ---------------------------------*/
.footer-button{
  color: white;
  font-size: 13px;
  padding: 7px 20px 7px 20px;
  font-family: 'Raleway', sans-serif;
}
.footer-button:hover{
  color: white;
  background-color: 
}

/* ---------------------------------- BACK TO TOP BUTTON ---------------------------------*/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(72, 100, 124, 1) url("../images/cd-top-arrow.svg") no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}

@media (max-width: 767px) {
  .modal-fullscreen-xs-down {
    padding: 0 !important;
  }
  .modal-fullscreen-xs-down .modal-dialog {
    width: 100%;
    min-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .modal-fullscreen-xs-down .modal-content {
    height: auto;
    min-height: 100%;
    border: 0 none;
    border-radius: 0;
  }
}
@media (max-width: 991px) {
  .modal-fullscreen-sm-down {
    padding: 0 !important;
  }
  .modal-fullscreen-sm-down .modal-dialog {
    width: 100%;
    min-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .modal-fullscreen-sm-down .modal-content {
    height: auto;
    min-height: 100%;
    border: 0 none;
    border-radius: 0;
  }
}
@media (max-width: 1199px) {
  .modal-fullscreen-md-down {
    padding: 0 !important;
  }
  .modal-fullscreen-md-down .modal-dialog {
    width: 100%;
    min-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .modal-fullscreen-md-down .modal-content {
    height: auto;
    min-height: 100%;
    border: 0 none;
    border-radius: 0;
  }
}
.modal-fullscreen {
  padding: 0 !important;
}
.modal-fullscreen .modal-dialog {
  width: 100%;
  min-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.modal-fullscreen .modal-content {
  height: auto;
  min-height: 100%;
  border: 0 none;
  border-radius: 0;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}


#loader{
    background-color: #F9D4FF;
    height: 100vh;
    margin: 0;
  }
  .img-loader{
  padding-top: 7%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #myDiv {
    display: none;
  }

  .slide-in-left{-webkit-animation:slide-in-left 1s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-left 1s cubic-bezier(.25,.46,.45,.94) both}

  @media (min-width: 748px) and (min-height: 1024px ){
    .img-loader{
    padding-top: 30%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 75%;
    }
  }
  
  /* GALAXY NOTE 3 and S5 */
  @media (width: 360px) and (height: 640px ){
    .img-loader{
    padding-top: 35%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
    /*.nav-title{
      font-size: 40px;
    }*/
  }

  /* PIXEL 2 and 2 XL*/
  @media (width:411px) and (min-height: 731px ) and (max-height: 823px ){
    .img-loader{
    padding-top: 45%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  }

  /* iphone 5-SE */
  @media (width:320px) and (min-height: 568px ){
    .img-loader{
    padding-top: 45%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  }

  /* iphone 6-7-8 */
  @media (min-width: 375px) and (max-width: 414px) and (min-height: 568px ){
    .img-loader{
    padding-top: 45%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  }

  /* LAPTOP WITH HiDPI */
  @media (width: 1440px) and (height: 900px){
    .img-loader{
  padding-top: 10%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }

  /* LAPTOP WITH MDPI */
  @media (min-width: 1224px) and (height: 800px){
    .img-loader{
  padding-top: 10%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }

  /* LAPTOP WITH TOUCH */
  @media (width: 1280px) and (height:950px){
    .img-loader{
  padding-top: 13%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }

  /* ----------------------------------------------
 * Generated by Animista on 2019-1-10 14:29:57
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}