
body {
  font-family: 'Source Sans Pro',Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.60;
}

/* 4 PANEL TIMELINE STYLE */

#timeline {
  display: flex;
  background-color: #031625;
}
#timeline:hover .tl-item {
  width: 23.3333%;
}

.tl-item {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  position: relative;
  width: 25%;
  height: 100vh;
  min-height: 600px;
  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;
}
.tl-item:before, .tl-item:after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.tl-item:after {
  background: rgba(3, 22, 37, 0.85);
  opacity: 1;
  transition: opacity 0.5s ease;
}
.tl-item:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 75%);
  z-index: 1;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) translateY(50%);
          transform: translate3d(0, 0, 0) translateY(50%);
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
}
.tl-item:hover {
  width: 30% !important;
}
.tl-item:hover:after {
  opacity: 0;
}
.tl-item:hover:before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) translateY(0);
          transform: translate3d(0, 0, 0) translateY(0);
  transition: opacity 1s ease, -webkit-transform 1s ease 0.25s;
  transition: opacity 1s ease, transform 1s ease 0.25s;
  transition: opacity 1s ease, transform 1s ease 0.25s, -webkit-transform 1s ease 0.25s;
}
.tl-item:hover .tl-content {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition: all 0.75s ease 0.5s;
}
.tl-item:hover .tl-bg {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.tl-content {
  -webkit-transform: translate3d(0, 0, 0) translateY(25px);
          transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 1.618em;
  top: 55%;
  opacity: 0;
}
.tl-content h1 {
  font-family: 'Pathway Gothic One',Helvetica Neue,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  color: #1779cf;
  font-size: 1.44rem;
  font-weight: normal;
}

.tl-year {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.tl-year p {
  font-family: 'Pathway Gothic One',Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 1.728rem;
  line-height: 0;
  margin-top: 1.200rem;
  margin-bottom: 1rem;
}

.tl-bg {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  transition: -webkit-filter 0.5s ease;
  transition: filter 0.5s ease;
  transition: filter 0.5s ease, -webkit-filter 0.5s ease;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}


/*NAVIGATION */
#navbar-center
{
	text-align: center;
	justify-content: center;
}


/*PICTURES AND VIDEOS DIV */
#pictureRow
{
	height: 50vh;
	background-color: #df9a9a;
	
}
#picture2ndRow
{
	height: 50vh;
	background-color: #e4d3d3;
}

#picInfo
{
	border-right: solid 1px black;
}
#picNvid
{
	height: 100vh;
}


/* HOME GRID RANDOM */
/*---------------------*/
#home-grid
{
	padding: 30px 0;
	position: relative;
}

.flexgrid
{
    -webkit-flex-flow: wrap;
    -moz-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
}

/*first column flex*/
.fc-flex
{
 width: 25%;
}
/*second column flex*/
.sc-flex
{
  width: 40%;
}
/*third column flex*/
.tc-flex
{
  width: 30%;
}





.cardEvent2
{

  margin-top: -80px;
  max-height: 360px;
  max-width: 25%;
}

.cardEvent3
{
  max-height: 170px;
}
#imgVid
{
	background-image: url('./images/eventbonfire.jpg');
	background-repeat: no-repeat;
	background-position: center;
	min-height: 230px;
  position: relative;
}
#imgVid2
{
  background-image: url('./images/futureEvents.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 150px;

  position: relative;
}

#imgWcat
{
  background-image: url('./images/futureEvents.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 270px;

  position: relative;

}
#imgVidbtn
{
  position: absolute;
  top: 25%;
  left: 35%;
  
  width: 120px; 
  height: 120px;
}
#pahiramLogo 
{
  justify-content: center;
  text-align: center;
	background-color: white;
	height: 150px;

}
#pahiramLogo2
{
  justify-content: center;
  text-align: center;
  background-color: white;
  height: 170px;
  width: 25%;
}
#pahiramLogo3
{
  justify-content: center;
  text-align: center;
  background-color: #e9edef;
  height: 170px;
  width: 25%;

}
#pahiramLogo4
{
  justify-content: center;
  text-align: center;
  background-color: #e7a7a7;
  height: 170px;
  width: 25%;
  margin-left: 25%;
  margin-top: -100px;
}
#pahiramLogo5

{
  justify-content: center;
  text-align: center;
  background-color: #6a5959;
  height: 170px;
  width: 25%;

  margin-top: -100px;
}

.cardEvent img
{
  background-color: white;
  height: 50px;
  width: 4rem;
}
#pahiramLogo img
{
  background-color: white;
	height: 50px;
	width: 4rem;
}

.hoverpop:hover 
{
       -webkit-transform: scale(1.1); 
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 99;
}
.hoverpop
{
      -webkit-transition: transform 250ms ease-in-out;
    -o-transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;    
}

.txt
{
  background: rgba(255, 255, 255, 0.88);
    padding: 15px 26px 22px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute; 
}
.txtcategory
{
      font-size: 14px;
    font-size: 5.46875%/pxrem;
    color: #292929;
    position: absolute;
    right: 15px;
    top: -13px;
    text-decoration: none;
}
.txtcategory span 
{
  background-color: #2f87e5;

}


.social.twitter
{
  background-image: url('images/twitter.png');
  background-color: black;
  background-size: 40px auto;
  left: -110px;
  right: auto;
  width: 100px;
  height: 100px;
  position: absolute;
}

#cardCol
{
  margin:0;
  padding: 0;
}

.card 
{
  margin: 0;
  padding: 0;
}
/* .twitter 
{
      -webkit-transition: opacity 150ms ease-in-out;
    -o-transition: opacity 150ms ease-in-out;
    transition: opacity 150ms ease-in-out;
    background: #333 no-repeat center center;
    position: absolute;
    display: none;
    height: 100px;
    width: 100px;
    left: auto;
    bottom: 0;
    position: absolute;
    right: -100px;
}*/