
body {
  font-family: 'Source Sans Pro',Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.60;
}

/* 4 PANEL TIMELINE STYLE */

#timeline {
  display: flex;
  background-color: #031625;
}
#timeline:hover .tl-item {
  width: 23.3333%;
}

.tl-item {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  position: relative;
  width: 25%;
  height: 100vh;
  min-height: 600px;
  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;
}
.tl-item:before, .tl-item:after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.tl-item:after {
  background: rgba(3, 22, 37, 0.85);
  opacity: 1;
  transition: opacity 0.5s ease;
}
.tl-item:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 75%);
  z-index: 1;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) translateY(50%);
          transform: translate3d(0, 0, 0) translateY(50%);
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
}
.tl-item:hover {
  width: 30% !important;
}
.tl-item:hover:after {
  opacity: 0;
}
.tl-item:hover:before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) translateY(0);
          transform: translate3d(0, 0, 0) translateY(0);
  transition: opacity 1s ease, -webkit-transform 1s ease 0.25s;
  transition: opacity 1s ease, transform 1s ease 0.25s;
  transition: opacity 1s ease, transform 1s ease 0.25s, -webkit-transform 1s ease 0.25s;
}
.tl-item:hover .tl-content {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition: all 0.75s ease 0.5s;
}
.tl-item:hover .tl-bg {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.tl-content {
  -webkit-transform: translate3d(0, 0, 0) translateY(25px);
          transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 1.618em;
  top: 55%;
  opacity: 0;
}
.tl-content h1 {
  font-family: 'Pathway Gothic One',Helvetica Neue,Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  color: #1779cf;
  font-size: 1.44rem;
  font-weight: normal;
}

.tl-year {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.tl-year p {
  font-family: 'Pathway Gothic One',Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 1.728rem;
  line-height: 0;
  margin-top: 1.200rem;
  margin-bottom: 1rem;
}

.tl-bg {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  transition: -webkit-filter 0.5s ease;
  transition: filter 0.5s ease;
  transition: filter 0.5s ease, -webkit-filter 0.5s ease;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}


/*NAVIGATION */
#navbar-center
{
	text-align: center;
	justify-content: center;
}


/*PICTURES AND VIDEOS DIV */
#pictureRow
{
	height: 50vh;
	background-color: #df9a9a;
	
}
#picture2ndRow
{
	height: 50vh;
	background-color: #e4d3d3;
}

#picInfo
{
	border-right: solid 1px black;
}
#picNvid
{
	height: 100vh;
}


/* HOME GRID RANDOM */
/*---------------------*/
#home-grid
{
	padding: 30px 0;
	position: relative;
}

.flexgrid
{
    -webkit-flex-flow: wrap;
    -moz-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
}

/*first column flex*/
.fc-flex
{
 width: 25%;
}
/*second column flex*/
.sc-flex
{
  width: 40%;
}
/*third column flex*/
.tc-flex
{
  width: 30%;
}





.cardEvent2
{

  margin-top: -80px;
  max-height: 360px;
  max-width: 25%;
}

.cardEvent3
{
  max-height: 170px;
}
#imgVid
{
	background-image: url('./images/eventbonfire.jpg');
	background-repeat: no-repeat;
	background-position: center;
	min-height: 230px;
  position: relative;
}
#imgVid2
{
  background-image: url('./images/futureEvents.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 150px;

  position: relative;
}

#imgWcat
{
  background-image: url('./images/futureEvents.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 270px;

  position: relative;

}
#imgVidbtn
{
  position: absolute;
  top: 25%;
  left: 35%;
  
  width: 120px; 
  height: 120px;
}
#pahiramLogo 
{
  justify-content: center;
  text-align: center;
	background-color: white;
	height: 150px;

}
#pahiramLogo2
{
  justify-content: center;
  text-align: center;
  background-color: white;
  height: 170px;
  width: 25%;
}
#pahiramLogo3
{
  justify-content: center;
  text-align: center;
  background-color: #e9edef;
  height: 170px;
  width: 25%;

}
#pahiramLogo4
{
  justify-content: center;
  text-align: center;
  background-color: #e7a7a7;
  height: 170px;
  width: 25%;
  margin-left: 25%;
  margin-top: -100px;
}
#pahiramLogo5

{
  justify-content: center;
  text-align: center;
  background-color: #6a5959;
  height: 170px;
  width: 25%;

  margin-top: -100px;
}

.cardEvent img
{
  background-color: white;
  height: 50px;
  width: 4rem;
}
#pahiramLogo img
{
  background-color: white;
	height: 50px;
	width: 4rem;
}

.hoverpop:hover 
{
       -webkit-transform: scale(1.1); 
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 99;
}
.hoverpop
{
      -webkit-transition: transform 250ms ease-in-out;
    -o-transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;    
}



.card 
{
  margin: 0;
  padding: 0;
}

/* .twitter 
{
      -webkit-transition: opacity 150ms ease-in-out;
    -o-transition: opacity 150ms ease-in-out;
    transition: opacity 150ms ease-in-out;
    background: #333 no-repeat center center;
    position: absolute;
    display: none;
    height: 100px;
    width: 100px;
    left: auto;
    bottom: 0;
    position: absolute;
    right: -100px;
}*/


 /* ------------- CARD COLUMNS HOMEGRID ---------------------*/
#home-cards
{
  padding: 10px 10px;
}

#home-container
{
  padding: 10px 10px; 
}
#cardCol
{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
  width: auto;
  padding: 10px 10px;

}
#cardCol .card 
{
  margin-right: 0px;
  margin-left: 0px;
}
/* ----- 1ST CARD GROUP H&W ----- */
div.col-lg-3
{
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
div.col-lg-6
{
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
/*#f-card-group
{
  height: 260px;
}
#f-event-d
{
  width: 270px;
}
#f-img-cat
{
  width: 450px;
}
#f-sponsor
{
  width: 360px;
  height: 200px;
}*/
/* ----- 1ST CARD GROUP H&W ----- */





    /*card for event details*/
    #card7th
    {
      background-color: #d4e3f3;
    }
    #card9th
    {
      background-color: #d4e3f3;
    }    
    /*card for sponsors*/
    #fsponsor
    {
      max-height: 200px;
    }
    .sponsor
    {
      position: relative;
      top: 0px;
      font-size: 0.800em;
      color: white;

    }
    .sponsorImg
    {
      height: 130px;
    }
    /*card of img with category*/
    .imgCategory
    {
      height: 200px;
      background-size: cover;
    }

    .txt
    {
        background: rgba(255, 255, 255, 0.88);
        padding: 15px 26px 22px;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute; 
    }
    .txtcategory
    {
        font-size: 14px;
        font-size: 5.46875%/pxrem;
        color: white;
        position: absolute;
        right: 15px;
        top: -13px;
        text-decoration: none;
    }
    .txtcategory span 
    {
      background-color: #2f87e5;

    }

    /*card for img with playbutton*/
    #cardImgWbtn
    {
      background-image: url('images/futureEvents.jpg');
      background-size: cover;
      background-position: center;
      height: 230px;
    }
    .playbtn
    {
      width: 50px;
      position: absolute;
      background-color: transparent;
      background-position: center;
      top: 35%;
      left: 40%;
    }
    .imgWbtn
    {
      /*height: 240px;*/
      background-position: center; 
      background-size: cover;
    }

    /*HOVER EFFECT ON CARDS*/
    .hoverpop:hover 
    {
           -webkit-transform: scale(1.1); 
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        z-index: 99;
    }
    .hoverpop
    {
          -webkit-transition: transform 250ms ease-in-out;
        -o-transition: transform 250ms ease-in-out;
        transition: transform 250ms ease-in-out;    
    }

/* ------------------------SOCIAL MEDIA ICON ----------------------*/
.social.twitter
{
  background-image: url('images/twitter.png');
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px auto;
  left: -60px;
  top: 73px;
  right: auto;
  width: 60px;
  height: 60px;
  position: absolute;
}
.social.facebook
{
  background-image: url('images/facebook.png');
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px auto;
  left: auto;
  top: 135px;
  right: -60px;
  width: 60px;
  height: 60px;
  position: absolute;
}

/* ------------------------------------------------- NAVBAR ------------------------------------ */
.nav-image{
  width: 10vh;
  -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-right: -10%;
}
.nav-title{
  font-family: 'Concert One', cursive;
  font-size: 40px;
}
.nav-motto{
  font-size: 11px;
  font-family: 'Raleway', sans-serif;
  color: black;
}
.navbar{
  position: fixed;
}

/* ------------------------------------------- NAVBAR MENU ------------------------------------- */
.homeLI a {
  font-size: 16px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  color: #1C1C1C;
}
.homeLI a:hover:not(.active) {
  color: white;
  background-color: #48647C;
}
a.active {
  color: white;
}
.container-fluid{
  padding: 0;
  margin: 0;
}
.nav-default{
  background-color: #48647C;
  width: 100%;
}

/* ------------------------------------------- NAVBAR SEARCH BAR------------------------------ */
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none; 
}

input[type=search] {
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;
  margin-right: 30px;
  
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #66CC75;
  
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}


/*------------------------ SIDE NAVBAR ------------------------*/

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: '';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

#sideNavbar
{
  background-color: transparent;
  width: 15%;
  height: 80vh;
  margin-top: 20%;
}


/*------------- SMOOTH SCROLL DIVS - MAIN ------------------*/

#main
{
  float: right;
  height: 60vh;
}

ul.timeline li:nth-child( 3n + 1), #main .panel:nth-child( 3n + 1) {
/*    background: rgb( 0, 180, 255 );*/
background-color: gray;
}

ul.timeline li:nth-child( 3n + 2), #main .panel:nth-child( 3n + 2) {
    /*background: rgb( 255, 65, 180 );*/
    background-color: blue;
}

ul.timeline li:nth-child( 3n + 3), #main .panel:nth-child( 3n + 3) {
    /*background: rgb( 0, 255, 180 );*/
    background-color: pink;
}


.panel {
    right: 0; 
    width: 100%;
    height: 500px;
    z-index:-1; 
    -webkit-transform: translateZ( 0 );
    transform: translateZ( 0 );
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

.panel h1 {
    font-family: sans-serif;
    font-size: 64px;
    font-size: 4rem;
    color: #fff;
    position:relative;
    line-height: 200px;
    top: 33%;
    text-align: center;
    margin: 0;
}

/*
 *Scrolling
 */

a[ id= "servicios" ]:target ~ #main article.panel {
    -webkit-transform: translateY( 0px);
    transform: translateY( 0px );   
}

a[ id= "galeria" ]:target ~ #main article.panel {
    -webkit-transform: translateY( -500px );
    transform: translateY( -500px );
}
a[ id= "contacto" ]:target ~ #main article.panel {
    -webkit-transform: translateY( -1000px );
    transform: translateY( -1000px );
}


/* ----------------- ANOTHER TRY FOR CARDS GRID ---------------------*/

#fscard
{
  background-image: url('images/800x400.png');
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 160px;
  max-width: 350px;
}

#Sscard
{
  background-image: url('images/800x400.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: -75px;
  max-height: 300px;
  max-width: 350px;
}